.body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: rgb(185, 215, 243);
    border-bottom: 5px solid rgb(232, 198, 248);
    color: black;
}

